
.Article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 200px;
  max-width: 350px;
  width: 100%;
  border-radius: 1rem;
  margin: 1.5rem;
  padding: 0.5rem;
  box-shadow: 0 0 10px rgba(56, 56, 56, 0.5);
}

.DetailedNewsContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

img {
  width: inherit;
  margin: 0 auto;
}

button {
  width: 30%;
  margin: 0 auto;
}
